build/
*.tar.bz2
*.tar.gz
*.tar.xz
*.zip
curl-*/
freetype-*/
gmp-*
i686-w64-mingw32-pkg-config
json/
libiconv-*/
libpng-*/
libtasn1-*/
libunistring-*/
libzip-*/
mingw-w64-*/
nettle-*
OpenRCT2/
openssl-*/
p11-kit-*/
SDL-*/
speexdsp-*/
zlib-*/
OpenRCT2-winxp/
